<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sldnfarchive.service.impl.UserMapper">

	<select id="userList" parameterType="userVO" resultType="egovMap">
		SELECT
			A.RN
		  , A.USER_IDX
		  , A.USER_MAIL
		  , A.USER_NM
		  , A.USER_STAT
		FROM
			(
				SELECT
					ROW_NUMBER() OVER(ORDER BY USER_IDX) AS RN
				  , USER_IDX
				  , USER_MAIL
				  , USER_NM
				  , USER_STAT
				FROM
					USER_MASTER
				WHERE
						1=1
				<if test="schUserNm != null and schUserNm != ''">
					AND USER_NM LIKE CONCAT('%', #{schUserNm}, '%')
				</if>
				<if test="schUserStat != null and schUserStat != ''">
					AND USER_STAT = #{schUserStat}
				</if>
				ORDER BY
					USER_IDX
			) A
		WHERE
				1=1
		<if test="curIdx != null and pageUnit != null and curPage != null">
			AND A.RN BETWEEN (#{curIdx} + (#{pageUnit} * (#{curPage} - 1))) AND (#{pageUnit} + (#{pageUnit} * (#{curPage} - 1)))
		</if>
		ORDER BY
			A.RN
		  , A.USER_IDX
	</select>
	
	<select id="userListCnt" parameterType="userVO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			USER_MASTER
		WHERE
				1=1
		<if test="schUserNm != null and schUserNm != ''">
			AND USER_NM LIKE CONCAT('%', #{schUserNm}, '%')
		</if>
		<if test="schUserStat != null and schUserStat != ''">
			AND USER_STAT = #{schUserStat}
		</if>
	</select>
	
	<select id="selectUser" parameterType="userVO" resultType="egovMap">
		SELECT
			UM.USER_IDX
		  , UM.USER_MAIL
		  , UM.USER_NM
		  , UM.USER_PW
		  , UM.USER_STAT
		  , UM.USER_NOTE
		  , FM.FILE_NM_DTL
		FROM
			USER_MASTER AS UM
			LEFT OUTER JOIN
			FILE_MASTER AS FM
			ON UM.PROFILE_IMG = FM.FILE_NO
		WHERE
				1=1
		<if test="userIdx != null and userIdx != ''">
			AND UM.USER_IDX = #{userIdx}
		</if>
	</select>
	
	<insert id="insertFile" parameterType="userVO">
		INSERT INTO FILE_MASTER
		(
			FILE_NM
		  , FILE_NM_DTL
		  , REG_NO
		  , REG_DATE
		  , UP_NO
		  , UP_DATE
		)
		VALUES
		(
			#{fileNm}
		  , #{uploadFileNm}
		  , '1'
		  , NOW()
		  , '1'
		  , NOW()
		)
	</insert>
	
	<insert id="insertUser" parameterType="userVO">
		INSERT INTO USER_MASTER
		(
			USER_MAIL
		  , USER_NM
		  , USER_PW
		  , USER_STAT
		  , USER_NOTE
		  <if test="fileNm != null and fileNm != ''">
		  	, PROFILE_IMG
		  </if>
		  , REG_NO
		  , REG_DATE
		  , UP_NO
		  , UP_DATE
		)
		VALUES
		(
			#{userMail}
		  , #{userNm}
		  , #{userPw}
		  , #{userStat}
		  , #{userNote}
		  <if test="fileNm != null and fileNm != ''">
			  , (
			  		SELECT
			  			MAX(FILE_NO)
			  		FROM
			  			FILE_MASTER
			  	)
		  </if>
		  , '1'
		  , NOW()
		  , '1'
		  , NOW()
		)
	</insert>
	
	<update id="updateUser" parameterType="userVO">
		UPDATE
			USER_MASTER
		SET
			USER_MAIL = #{userMail}
		  , USER_NM = #{userNm}
		  , USER_PW = #{userPw}
		  , USER_STAT = #{userStat}
		  , USER_NOTE = #{userNote}
		  <if test="fileNm != null and fileNm != ''">
		  	, PROFILE_IMG = (
						  		SELECT
						  			MAX(FILE_NO)
						  		FROM
						  			FILE_MASTER
						  	)
		  </if>
		  , UP_NO = '1'
		  , UP_DATE = NOW()
		WHERE
				1=1
		<if test="userIdx != null and userIdx != ''">
			AND USER_IDX = #{userIdx}
		</if>
	</update>

	<delete id="deleteUser" parameterType="userVO">
		DELETE FROM
			USER_MASTER
		WHERE
				1=1
		<if test="userIdx != null and userIdx != ''">
			AND USER_IDX = #{userIdx}
		</if>
	</delete>

</mapper>